footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightcoral;
    margin: 0px;
    width: auto;
    height: 200px;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
    color: $backgroudmain;
}